<div *ngIf="visible; else notEnabled">
  <h1>{{ title }}</h1>
</div>


<button (click)="setVisible()">
  {{visible ? 'Hide Users' : 'Show Users'}}
</button>

<div *ngIf="visible">
  <table *ngIf="(users != undefined && users.length > 0) else noUsers">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ user }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #noUsers>
    <p>No users available.</p>
  </ng-template>
</div>

<ng-template #notEnabled>
  <p>Feature not enabled.</p>
</ng-template>

<router-outlet />
